

    <div class="container">
        <div><h3>Forgot Password</h3></div>
      <form [formGroup]="forgotForm" (ngSubmit)="validateData();">
        <div class="row-two">
            <label>E-mail</label>
            <input type="text" formControlName="email">
        </div>
  
        <div class="row-two">
            <label>DOB</label>
            <input type="date" formControlName="dob">
        </div>
        <div class="row-three">
            <button>GO</button>
        </div>
    </form>
    </div>