

    <div class="container">
        <div><h3>Profile Settings</h3></div>
        <div class="row-two">
            <label>First name</label>
            <input type="text" >
        </div>
        <div class="row-two">
            <label>Last name</label>
            <input type="text" >
        </div>
        <div class="row-two">
            <label>E-mail</label>
            <input type="text">
        </div>
        <div class="row-two">
            <label>Gender</label>
            <input type="text" list="genderList">
            <datalist id="genderList">
                <option value="Male" >
                <option value="Female" ></option>
            </datalist>
        </div>
        <div class="row-two">
            <label>DOB</label>
            <input type="date">
        </div>
        <div class="row-two">
            <label>Password</label>
            <input type="text">
        </div>
        <div class="row-three">
            <button>Save</button>
            <a href="">Change Password</a>
        </div>
    </div>
