



    <div class="container">
        <div class="col-one">
           <app-profile></app-profile>
        </div>
        <div class="col-two">
            <div class="row-one">
                <textarea [(ngModel)]="postData" id="" cols="30" rows="10"></textarea>
                <input type="file" name="" id="">
                <button (click)="addPost();">Post</button>
            </div>
            <div class="row-two">
                <h3>Post</h3>
                <div class="post" *ngFor="let post of posts">
                    <p>{{post?.post}}</p>
                    <p class="time">{{post?.userName}} | {{post?.createdDate | date}}</p>
                </div>
               
            </div>
        </div>
    </div>
