



    <div class="container">
        <div class="col-one">
           <app-profile></app-profile>
        </div>
        <div class="col-two">
            <div class="row-one">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <input type="file" name="" id="">
                <button>Post</button>
            </div>
            <div class="row-two">
                <h3>Post</h3>
                <div class="post">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas maiores, similique velit quisquam eligendi saepe assumenda eos reprehenderit culpa quaerat sapiente ipsam sed vel molestias obcaecati sequi accusantium quidem deleniti.</p>
                    <p class="time">Dec 21, 2023</p>
                </div>
                <div class="post">
                    <img src="carbon.png" alt="">
                    <p class="time">Dec 21, 2023</p>
                </div>
            </div>
        </div>
    </div>
