

    <div class="container">
        <div class="col-one">
          <app-profile></app-profile>
        </div>
        <div class="col-two">
           <div class="user">
               <div class="details">
                   <img src="carbon.png" alt="">
                   <p>name</p>
               </div>
               <button>Send Request</button>
           </div>
           <div class="user">
            <div class="details">
                <img src="carbon.png" alt="">
                <p>name</p>
            </div>
            <button>Send Request</button>
        </div>
        </div>
    </div>
