

    <div class="container">
        <div><h3>Login</h3></div>
      <form [formGroup]="loginForm"  (ngSubmit)="login();">
        <div class="row-two">
            <label>E-mail</label>
            <input type="text" formControlName="email">
        </div>
  
        <div class="row-two">
            <label>Password</label>
            <input type="text" formControlName="password">
        </div>
        <div class="row-three">
            <button>Login</button>
            <a href="">Forgot Password ?</a>
        </div>
    </form>
    </div>
